fieldset.columna{
 width:350px;
 float:left;
}

#edit-uc-spsdecidir-payment-bank-wrapper ,
#edit-uc-spsdecidir-payment-method-wrapper ,
#edit-uc-spsdecidir-payment-fee-wrapper{
   float: left;
    padding: 5px; 
}
